@import url("http://fonts.googleapis.com/css?family=Lato");
body {
  font-family: 'Lato', sans-serif;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat; }

.backgroundImage1 {
  background-image: url("../img/background_1.jpg"); }

.backgroundImage2 {
  background-image: url("../img/background_2.jpg"); }

.backgroundImage3 {
  background-image: url("../img/background_3.jpg"); }

.backgroundImage4 {
  background-image: url("../img/background_4.jpg"); }

.tile {
  box-shadow: 2px 2px 4px 5px #ccc;
  float: left;
  font-family: helvetica;
  font-size: 0.7em;
  height: 300px;
  margin-top: 30px;
  margin-left: 30px;
  width: 300px; }
  .tile .header {
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: top;
    width: 60%; }
    .tile .header .title, .tile .header .year {
      display: inline-block;
      margin-bottom: 3px;
      margin-top: 0; }
    .tile .header .title {
      margin-right: 5px; }
    .tile .header .year:before {
      content: "("; }
    .tile .header .year:after {
      content: ")"; }
  .tile .poster {
    display: inline;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    width: 33%; }
  .tile .synopsis {
    clear: right;
    display: block;
    padding: 10px 10px;
    text-align: justify; }

.searchBar {
  display: block;
  font-size: 1.5em;
  margin: auto;
  width: 66%; }

.filterCertificates {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 60px 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); }
  .filterCertificates .certificates {
    max-width: 130px;
    margin: 0 auto; }
    .filterCertificates .certificates .certificate {
      font-size: 200%; }

.filterGenres {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }
  .filterGenres .genres .genre {
    font-size: 200%; }

.nextButton {
  clear: both;
  display: block;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  padding: 13px 28px;
  border: 2px solid white;
  position: relative;
  top: 30px;
  min-width: 120px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  transition: background-color .15s ease-out; }
  .nextButton:hover {
    color: black;
    background: white; }

.radiobuttons .radiobutton {
  display: inline-block;
  float: left;
  clear: both; }
  .radiobuttons .radiobutton input[type="radio"] {
    display: none; }
    .radiobuttons .radiobutton input[type="radio"]:checked + .fakeRadioButton .fakeRadioButtonSelect {
      left: 24px;
      background-color: #3498db; }
  .radiobuttons .radiobutton .fakeRadioButton {
    width: 45px;
    height: 25px;
    background-color: gray;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle; }
    .radiobuttons .radiobutton .fakeRadioButton .fakeRadioButtonSelect {
      position: relative;
      top: 4px;
      left: 3px;
      width: 17px;
      height: 17px;
      display: block;
      border-radius: 10px;
      background-color: #333333;
      transition: left .25s, background-color .25s; }
  .radiobuttons .radiobutton label {
    cursor: pointer; }
  .radiobuttons .radiobutton .label {
    vertical-align: middle;
    margin-left: 20px; }

.checkboxes .checkbox input[type="checkbox"] {
  display: none; }
  .checkboxes .checkbox input[type="checkbox"]:checked + .fakeCheckbox .fakeCheckboxSelect {
    background-color: #26ca28; }
.checkboxes .checkbox .fakeCheckbox {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #A8AAC1;
  border-radius: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); }
  .checkboxes .checkbox .fakeCheckbox .fakeCheckboxSelect {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    transition: all .5s ease;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 2;
    background: #6C788A;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5); }
.checkboxes .checkbox label {
  cursor: pointer; }
.checkboxes .checkbox .label {
  position: relative;
  top: -25px;
  right: -50px; }

/*# sourceMappingURL=style.css.map */
