.checkboxes {
  .checkbox {
    input[type="checkbox"] {
      display: none;
      &:checked + .fakeCheckbox .fakeCheckboxSelect {
        background-color: #26ca28;
      }
    }

    .fakeCheckbox {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #A8AAC1;
      border-radius: 100%;
      position: relative;
      box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
      .fakeCheckboxSelect {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        transition: all .5s ease;
        cursor: pointer;
        position: relative;
        top: 5px;
        left: 5px;
        z-index: 2;
        background: #6C788A;
        box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
      }
    }

    label {
      cursor: pointer;
    }

    .label {
      position: relative;
      top: -25px;
      right: -50px;
    }
  }
}
