.filterCertificates {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 60px 60px;
  color: white;
  background-color: rgba(0,0,0,0.5);

  .certificates {
    max-width: 130px;
    margin: 0 auto;
    .certificate {
      font-size: 200%;
    }
  }
}

.filterGenres {
  position: absolute;
  max-width: 100%;
  min-width: 1024px;
  margin: auto;
  padding: 60px 60px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  .genres {
    max-width: 980px;
    margin: 0 auto;
    column-count: 3;
    column-gap: 1.5em;
    .genre {
      font-size: 200%;
      min-height: 70px;
      margin-right: 34px;
      display: inline-block;;
      position: relative;
    }
  }
}

.nextButton {
  clear: both;
  display: block;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  padding: 13px 28px;
  border: 2px solid white;
  position: relative;
  top: 30px;
  min-width: 120px;
  max-width: 180px;
  margin: auto;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  transition: background-color .15s ease-out;
  &:hover {
    color: $mainColor;
    background: white;
  }
}

@media only screen and (max-device-width: 600px)  {
  .filterGenres {
    min-width: initial;
    .genres {
      column-count: 1;
      .genre {
        display: block;
      }
    }
  }
}
