.filterCertificates {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 60px 60px;
  color: white;
  background-color: rgba(0,0,0,0.5);

  .certificates {
    max-width: 130px;
    margin: 0 auto;
    .certificate {
      font-size: 200%;
    }
  }
}

.filterGenres {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  .genres {
    .genre {
      font-size: 200%;
    }
  }
}

.nextButton {
  clear: both;
  display: block;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  padding: 13px 28px;
  border: 2px solid white;
  position: relative;
  top: 30px;
  min-width: 120px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  transition: background-color .15s ease-out;
  &:hover {
    color: $mainColor;
    background: white;
  }
}
