$mainColor: black;
$darkColor: hsla(0, 0, 20%, 1);
$lightColor: hsla(0, 0, 50%, 1);
$primaryColor: #3498db;

body {
  font-family: 'Lato', sans-serif;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundImage1 {
  background-image: url("../img/background_1.jpg");
}

.backgroundImage2 {
  background-image: url("../img/background_2.jpg");
}

.backgroundImage3 {
  background-image: url("../img/background_3.jpg");
}

.backgroundImage4 {
  background-image: url("../img/background_4.jpg");
}
