$mainColor: black;
$darkColor: hsla(0, 0, 20%, 1);
$lightColor: hsla(0, 0, 50%, 1);

.radiobuttons {
  .radiobutton {
    display: inline-block;
    float: left;
    clear: both;

    input[type="radio"] {
      display: none;
      &:checked + .fakeRadioButton .fakeRadioButtonSelect {
        left: 24px;
        background-color: #3498db;
      }
    }

    .fakeRadioButton {
      width: 45px;
      height: 25px;
      background-color: $lightColor;
      border-radius: 50px;
      display: inline-block;
      vertical-align: middle;

      .fakeRadioButtonSelect {
        position: relative;
        top: 4px;
        left: 3px;
        width: 17px;
        height: 17px;
        display: block;
        border-radius: 10px;
        background-color: $darkColor;
        transition: left .25s, background-color .25s;
      }
    }

    label {
      cursor: pointer;
    }

    .label {
      vertical-align: middle;
      margin-left: 20px;
    }

  }
}
